$nb-themes: nb-register-theme(
  (
    color-primary-100: #d4fbdd,
    color-primary-200: #abf7c5,
    color-primary-300: #7ce7ac,
    color-primary-400: #58d099,
    color-primary-500: #29b180,
    color-primary-600: #1d9878,
    color-primary-700: #147f6e,
    color-primary-800: #0d6660,
    color-primary-900: #075254,
    color-primary-transparent-100: rgba(41, 177, 128, 0.08),
    color-primary-transparent-200: rgba(41, 177, 128, 0.16),
    color-primary-transparent-300: rgba(41, 177, 128, 0.24),
    color-primary-transparent-400: rgba(41, 177, 128, 0.32),
    color-primary-transparent-500: rgba(41, 177, 128, 0.4),
    color-primary-transparent-600: rgba(41, 177, 128, 0.48),
    color-success-100: #e8fbd7,
    color-success-200: #cdf7b1,
    color-success-300: #a5e985,
    color-success-400: #7dd362,
    color-success-500: #4ab735,
    color-success-600: #309d26,
    color-success-700: #1b831a,
    color-success-800: #106a17,
    color-success-900: #0a5715,
    color-success-transparent-100: rgba(74, 183, 53, 0.08),
    color-success-transparent-200: rgba(74, 183, 53, 0.16),
    color-success-transparent-300: rgba(74, 183, 53, 0.24),
    color-success-transparent-400: rgba(74, 183, 53, 0.32),
    color-success-transparent-500: rgba(74, 183, 53, 0.4),
    color-success-transparent-600: rgba(74, 183, 53, 0.48),
    color-info-100: #cce9fd,
    color-info-200: #99d0fb,
    color-info-300: #65b0f4,
    color-info-400: #3f90ea,
    color-info-500: #0663dd,
    color-info-600: #044cbe,
    color-info-700: #03389f,
    color-info-800: #012780,
    color-info-900: #011c6a,
    color-info-transparent-100: rgba(6, 99, 221, 0.08),
    color-info-transparent-200: rgba(6, 99, 221, 0.16),
    color-info-transparent-300: rgba(6, 99, 221, 0.24),
    color-info-transparent-400: rgba(6, 99, 221, 0.32),
    color-info-transparent-500: rgba(6, 99, 221, 0.4),
    color-info-transparent-600: rgba(6, 99, 221, 0.48),
    color-warning-100: #fff3cc,
    color-warning-200: #ffe499,
    color-warning-300: #ffd266,
    color-warning-400: #ffbf3f,
    color-warning-500: #ffa100,
    color-warning-600: #db8200,
    color-warning-700: #b76600,
    color-warning-800: #934c00,
    color-warning-900: #7a3a00,
    color-warning-transparent-100: rgba(255, 161, 0, 0.08),
    color-warning-transparent-200: rgba(255, 161, 0, 0.16),
    color-warning-transparent-300: rgba(255, 161, 0, 0.24),
    color-warning-transparent-400: rgba(255, 161, 0, 0.32),
    color-warning-transparent-500: rgba(255, 161, 0, 0.4),
    color-warning-transparent-600: rgba(255, 161, 0, 0.48),
    color-danger-100: #fddbd4,
    color-danger-200: #fbb0aa,
    color-danger-300: #f57f82,
    color-danger-400: #ec5d6f,
    color-danger-500: #e02c53,
    color-danger-600: #c02052,
    color-danger-700: #a1164e,
    color-danger-800: #810e48,
    color-danger-900: #6b0843,
    color-danger-transparent-100: rgba(224, 44, 83, 0.08),
    color-danger-transparent-200: rgba(224, 44, 83, 0.16),
    color-danger-transparent-300: rgba(224, 44, 83, 0.24),
    color-danger-transparent-400: rgba(224, 44, 83, 0.32),
    color-danger-transparent-500: rgba(224, 44, 83, 0.4),
    color-danger-transparent-600: rgba(224, 44, 83, 0.48),
    layout-padding: 0,
    layout-small-padding: 0,
    layout-medium-padding: 0,
    popover-border-radius: 15px,
  ),
  abp,
  default
);
