$nb-themes: nb-register-theme(
  (
    font-family-primary: 'Roboto',
    font-family-secundary: 'Roboto',
    border-radius: 3px,
    color-primary-100: #ccfff4,
    color-primary-200: #99fff2,
    color-primary-300: #66fff7,
    color-primary-400: #3ff8ff,
    color-primary-500: #44d9f2,
    color-primary-600: #00b0db,
    color-primary-700: #0085b7,
    color-primary-800: #005f93,
    color-primary-900: #00457a,
    color-primary-transparent-100: rgba(0, 226, 255, 0.08),
    color-primary-transparent-200: rgba(0, 226, 255, 0.16),
    color-primary-transparent-300: rgba(0, 226, 255, 0.24),
    color-primary-transparent-400: rgba(0, 226, 255, 0.32),
    color-primary-transparent-500: rgba(0, 226, 255, 0.4),
    color-primary-transparent-600: rgba(0, 226, 255, 0.48),
    color-success-100: #f1fbce,
    color-success-200: #dff8a0,
    color-success-300: #c3eb6d,
    color-success-400: #a4d848,
    color-success-500: #7bbf15,
    color-success-600: #62a40f,
    color-success-700: #4c890a,
    color-success-800: #386e06,
    color-success-900: #2a5b04,
    color-success-transparent-100: rgba(123, 191, 21, 0.08),
    color-success-transparent-200: rgba(123, 191, 21, 0.16),
    color-success-transparent-300: rgba(123, 191, 21, 0.24),
    color-success-transparent-400: rgba(123, 191, 21, 0.32),
    color-success-transparent-500: rgba(123, 191, 21, 0.4),
    color-success-transparent-600: rgba(123, 191, 21, 0.48),
    color-info-100: #e9dffb,
    color-info-200: #d2c0f8,
    color-info-300: #b49bec,
    color-info-400: #967cd9,
    color-info-500: #6f53c1,
    color-info-600: #543ca5,
    color-info-700: #3d298a,
    color-info-800: #291a6f,
    color-info-900: #1b0f5c,
    color-info-transparent-100: rgba(86, 131, 255, 0.08),
    color-info-transparent-200: rgba(86, 131, 255, 0.16),
    color-info-transparent-300: rgba(86, 131, 255, 0.24),
    color-info-transparent-400: rgba(86, 131, 255, 0.32),
    color-info-transparent-500: rgba(86, 131, 255, 0.4),
    color-info-transparent-600: rgba(86, 131, 255, 0.48),
    color-warning-100: #fff4cc,
    color-warning-200: #ffe699,
    color-warning-300: #ffd566,
    color-warning-400: #ffc43f,
    color-warning-500: #ffa800,
    color-warning-600: #db8800,
    color-warning-700: #b76c00,
    color-warning-800: #935100,
    color-warning-900: #7a3f00,
    color-warning-transparent-100: rgba(255, 222, 12, 0.08),
    color-warning-transparent-200: rgba(255, 222, 12, 0.16),
    color-warning-transparent-300: rgba(255, 222, 12, 0.24),
    color-warning-transparent-400: rgba(255, 222, 12, 0.32),
    color-warning-transparent-500: rgba(255, 222, 12, 0.4),
    color-warning-transparent-600: rgba(255, 222, 12, 0.48),
    color-danger-100: #ffe8d7,
    color-danger-200: #ffcbb0,
    color-danger-300: #ffa788,
    color-danger-400: #ff866b,
    color-danger-500: #ff4e3a,
    color-danger-600: #db2e2a,
    color-danger-700: #b71d26,
    color-danger-800: #931224,
    color-danger-900: #7a0b23,
    color-danger-transparent-100: rgba(255, 78, 58, 0.08),
    color-danger-transparent-200: rgba(255, 78, 58, 0.16),
    color-danger-transparent-300: rgba(255, 78, 58, 0.24),
    color-danger-transparent-400: rgba(255, 78, 58, 0.32),
    color-danger-transparent-500: rgba(255, 78, 58, 0.4),
    color-danger-transparent-600: rgba(255, 78, 58, 0.48),
    text-hint-color: #c0c0c0,
    accordion-padding: 0px,
    accordion-shadow: 0,
    box-shadow: 0px 3px 6px #00000029,
    chat-shadow: none,
    chat-message-sender-text-color: text-basic-color,
    chat-message-reply-text-color: text-basic-color,
    accordion-header-border-width: 0px,
    accordion-item-text-color: #b6b6b6,
    header-height: 60px,
    header-text-color: rgba(255, 255, 255, 1),
    header-shadow: none,
    icon-width: 1.5em,
    icon-height: 1.5em,
    input-small-max-width: 12rem,
    user-name-text-font-weight: 800,
    link-text-color: #5f6368,
    link-text-focus-color: #5f6368,
    link-text-hover-color: #5f6368,
    menu-item-icon-margin: 0,
    menu-item-padding: 15px 8px,
    menu-item-divider-color: rgba(255, 0, 0, 1),
    menu-item-divider-style: solid,
    menu-item-divider-width: 0,
    menu-item-active-text-color: text-info-color,
    menu-item-hover-text-color: text-info-hover-color,
    sidebar-padding: 0,
    sidebar-width: 82px,
    sidebar-shadow: none,
    select-outline-basic-icon-color: color-basic-600,
    select-round-border-radius: border-radius,
    select-small-max-width: 150px,
    select-small-text-font-weight: text-paragraph-2-font-weight,
    select-semi-round-border-radius: border-radius,
    input-semi-round-border-radius: border-radius,
    input-round-border-radius: border-radius,
    user-rectangle-border-radius: border-radius,
    button-filled-text-transform: capitalize,
    button-outline-text-transform: capitalize,
    button-ghost-text-transform: capitalize,
    button-hero-text-transform: capitalize,
    overlay-backdrop-background-color: rgba(210, 221, 242, 0.8),
    progress-bar-border-radius: 10px,
    progress-bar-primary-background-color: #c7c7c7,
    progress-bar-basic-background-color: #c7c7c7,
    progress-bar-basic-text-color: #fff,
    progress-bar-basic-filled-background-color: #44d9f2,
    button-ghost-small-padding: 5px 2px,
    button-ghost-giant-padding: 2px 2px,
    tabset-tab-text-transform: normal,
    tabset-tab-active-text-color: color-info-500,
    tabset-tab-active-underline-color: color-info-500,
    tabset-tab-focus-text-color: color-info-600,
    tabset-tab-focus-underline-color: color-info-600,
    tabset-tab-hover-text-color: color-info-400,
    tabset-tab-hover-underline-color: color-info-400,
    tabset-tab-disabled-text-color: black,
    spinner-primary-background-color: rgba(255, 255, 255, 0.2),
    text-sidebar-color: #989898,
    text-sidebar-color-active: text-info-color,
    onboarding-color: #6f53c1,
    popover-border-radius: 15px,
    tooltip-text-font-size: 12px,
    tooltip-background-color: rgba(0, 0, 0, 0.85),
    tooltip-max-width: 240px,
  ),
  default,
  default
);
