$nb-themes: nb-register-theme(
  (
    color-primary-100: #e8e5fe,
    color-primary-200: #d0ccfe,
    color-primary-300: #b8b3fe,
    color-primary-400: #a69ffd,
    color-primary-500: #8880fc,
    color-primary-600: #645dd8,
    color-primary-700: #4640b5,
    color-primary-800: #2d2892,
    color-primary-900: #1c1878,
    color-primary-transparent-100: rgba(136, 128, 252, 0.08),
    color-primary-transparent-200: rgba(136, 128, 252, 0.16),
    color-primary-transparent-300: rgba(136, 128, 252, 0.24),
    color-primary-transparent-400: rgba(136, 128, 252, 0.32),
    color-primary-transparent-500: rgba(136, 128, 252, 0.4),
    color-primary-transparent-600: rgba(136, 128, 252, 0.48),
    color-success-100: #effcd2,
    color-success-200: #dbfaa7,
    color-success-300: #bef078,
    color-success-400: #9fe155,
    color-success-500: #75ce23,
    color-success-600: #5ab119,
    color-success-700: #429411,
    color-success-800: #2e770b,
    color-success-900: #1f6206,
    color-success-transparent-100: rgba(117, 206, 35, 0.08),
    color-success-transparent-200: rgba(117, 206, 35, 0.16),
    color-success-transparent-300: rgba(117, 206, 35, 0.24),
    color-success-transparent-400: rgba(117, 206, 35, 0.32),
    color-success-transparent-500: rgba(117, 206, 35, 0.4),
    color-success-transparent-600: rgba(117, 206, 35, 0.48),
    color-info-100: #ccf5ff,
    color-info-200: #99e5ff,
    color-info-300: #67d0ff,
    color-info-400: #41baff,
    color-info-500: #0295ff,
    color-info-600: #0173db,
    color-info-700: #0156b7,
    color-info-800: #003c93,
    color-info-900: #002b7a,
    color-info-transparent-100: rgba(2, 149, 255, 0.08),
    color-info-transparent-200: rgba(2, 149, 255, 0.16),
    color-info-transparent-300: rgba(2, 149, 255, 0.24),
    color-info-transparent-400: rgba(2, 149, 255, 0.32),
    color-info-transparent-500: rgba(2, 149, 255, 0.4),
    color-info-transparent-600: rgba(2, 149, 255, 0.48),
    color-warning-100: #fef7d0,
    color-warning-200: #feeea2,
    color-warning-300: #fde273,
    color-warning-400: #fbd551,
    color-warning-500: #f9c118,
    color-warning-600: #d6a011,
    color-warning-700: #b3810c,
    color-warning-800: #906307,
    color-warning-900: #774f04,
    color-warning-transparent-100: rgba(249, 193, 24, 0.08),
    color-warning-transparent-200: rgba(249, 193, 24, 0.16),
    color-warning-transparent-300: rgba(249, 193, 24, 0.24),
    color-warning-transparent-400: rgba(249, 193, 24, 0.32),
    color-warning-transparent-500: rgba(249, 193, 24, 0.4),
    color-warning-transparent-600: rgba(249, 193, 24, 0.48),
    color-danger-100: #ffead9,
    color-danger-200: #ffcfb3,
    color-danger-300: #ffae8d,
    color-danger-400: #ff8f71,
    color-danger-500: #ff5b42,
    color-danger-600: #db3930,
    color-danger-700: #b72125,
    color-danger-800: #931522,
    color-danger-900: #7a0c20,
    color-danger-transparent-100: rgba(255, 91, 66, 0.08),
    color-danger-transparent-200: rgba(255, 91, 66, 0.16),
    color-danger-transparent-300: rgba(255, 91, 66, 0.24),
    color-danger-transparent-400: rgba(255, 91, 66, 0.32),
    color-danger-transparent-500: rgba(255, 91, 66, 0.4),
    color-danger-transparent-600: rgba(255, 91, 66, 0.48),
    popover-border-radius: 15px,
  ),
  programming,
  default
);
