<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <nb-card class="sidebar animated fadeIn">
    <nb-card-header class="header">
      <button
        nbButton
        ghost
        status="basic"
        size="small"
        class="plain"
        (click)="closeSidebar()"
      >
        <nb-icon
          icon="close-outline"
          [options]="{ animation: { type: 'pulse' } }"
        ></nb-icon>
      </button>
      <h2 class="h2 text-primary">
        Modificar contraseña
      </h2>
    </nb-card-header>

    <nb-card-body class="form">
      <div class="container-inner">
        <div class="row marginless">
          <div class="field col-xs-6 paddingless">
            <label>Nueva contraseña*</label>
            <input
              nbInput
              status="basic"
              fullWidth
              type="{{ passwordType }}"
              formControlName="password"
            />
            <nb-icon
              *ngIf="passwordType === 'password'; else showPass"
              class="cursor-pointer"
              icon="eye-outline"
              status="basic"
              (click)="toggleShowPassword()"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>

            <ng-template #showPass>
              <nb-icon
                class="cursor-pointer"
                icon="eye-off-outline"
                status="basic"
                (click)="toggleShowPassword()"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
            </ng-template>

            <div class="row">
              <div class="col-xs-2 condition">
                <div class="row center-xs middle-xs">
                  <div
                    [ngClass]="{
                      circle: !formControls.password.dirty,
                      'circle-valid':
                        formControls.password.dirty &&
                        !formControls.password.errors.letterError,
                      'circle-error':
                        formControls.password.dirty &&
                        formControls.password.errors.letterError
                    }"
                  ></div>
                  <label class="info-label">1 letra</label>
                </div>
              </div>

              <div class="col-xs-3 condition">
                <div class="row center-xs middle-xs">
                  <div
                    [ngClass]="{
                      circle: !formControls.password.dirty,
                      'circle-valid':
                        formControls.password.dirty &&
                        !formControls.password.errors.numberError,
                      'circle-error':
                        formControls.password.dirty &&
                        formControls.password.errors.numberError
                    }"
                  ></div>
                  <label class="info-label">1 número</label>
                </div>
              </div>

              <div class="col-xs-5 condition">
                <div class="row center-xs middle-xs">
                  <div
                    [ngClass]="{
                      circle: !formControls.password.dirty,
                      'circle-valid':
                        formControls.password.dirty &&
                        !formControls.password.errors.lengthError,
                      'circle-error':
                        formControls.password.dirty &&
                        formControls.password.errors.lengthError
                    }"
                  ></div>
                  <label class="info-label">mínimo 8 caracteres</label>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-xs-12 paddingless"
            *ngIf="formControls.password.dirty || formControls.password.touched"
          >
            <label
              *ngIf="
                password.value && formControls.password.errors?.passwordInvalid
              "
              class="info-label error-text"
            >
              La contraseña no cumple con las características requeridas
            </label>
            <label
              *ngIf="formControls.password.errors?.required"
              class="info-label error-text"
            >
              Este campo es requerido
            </label>
          </div>
        </div>

        <div class="row marginless">
          <div class="field col-xs-6 paddingless">
            <label>Confirmar nueva contraseña*</label>
            <input
              nbInput
              fullWidth
              status="basic"
              type="password"
              formControlName="confirmPassword"
              type="{{ confirmPassType }}"
            />
            <nb-icon
              *ngIf="confirmPassType === 'password'; else showConfirmPass"
              class="cursor-pointer"
              icon="eye-outline"
              status="basic"
              [options]="{ animation: { type: 'pulse' } }"
              (click)="toggleShowConfirmPass()"
            ></nb-icon>
            <ng-template #showConfirmPass>
              <nb-icon
                class="cursor-pointer"
                icon="eye-off-outline"
                status="basic"
                [options]="{ animation: { type: 'pulse' } }"
                (click)="toggleShowConfirmPass()"
              ></nb-icon>
            </ng-template>
          </div>

          <div
            class="col-xs-12 paddingless"
            *ngIf="
              formControls.confirmPassword.dirty ||
              formControls.confirmPassword.touched
            "
          >
            <label
              *ngIf="
                confirmPassword.value &&
                formControls.password.errors.passwordMatchError
              "
              class="info-label error-text"
            >
              Las contraseñas no coinciden
            </label>
            <label
              *ngIf="formControls.confirmPassword.errors?.required"
              class="info-label error-text"
            >
              Este campo es requerido
            </label>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="row between-xs middle-xs">
      <p class="footer-notifications"><em>*campos obligatorios</em></p>
      <div>
        <button nbButton ghost status="info" (click)="closeSidebar()">
          Volver
        </button>
        <button nbButton status="info" type="submit">
          Confirmar
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
