<nb-card>
  <nb-card-header>
    <h6 class="h6 text-primary">Chat</h6>
  </nb-card-header>
  <nb-card-body>
    <nb-list class="nb-scrollbar">
      <nb-list-item
        class="cursor-pointer channel-list"
        *ngFor="let channel of channels$ | async | filterChat: searchChat"
        [ngClass]="{
          active: (chatService.selectedChannel$ | async)?.jid === channel.jid
        }"
        (click)="openChat(channel)"
      >
        <nb-user
          size="small"
          [name]="channel.parent ? channel.name : channel.groupName"
          [title]="channel.parent ? channel.groupName : null"
          [color]="channel.color"
        >
        </nb-user>
        <button
          *ngIf="channel.unreadMessages"
          class="message-alert-counter"
          nbButton
          status="danger"
          size="tiny"
        >
          {{ channel.unreadMessages }}
        </button>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
