<div class="flex flex-col">
  <div
    class="class-selector-container"
    *ngIf="(metrics.selectTeacher$ | async)?.courses.length > 0"
  >
    <nb-select
      outline
      size="medium"
      status="basic"
      shape="semi-round"
      class="group-selector-select"
      (selectedChange)="selectCourse($event)"
      [selected]="selectedGroup$ | async"
    >
      <nb-option
        [value]="i"
        *ngFor="
          let class of (metrics.selectTeacher$ | async)?.courses;
          let i = index
        "
        >{{ class.name | titlecase }}</nb-option
      >
    </nb-select>
  </div>
</div>
