.toast {
  margin-bottom: 1rem;
  padding: 1rem 0.3rem 1rem 1rem;
  background: rgba(30, 54, 72, 0.95);
  border-left: 13px solid;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 81px;
  .text-toast-container {
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 300;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
      color: white;
    }
  }
}
