.page-title {
  margin: 1rem 0;
  h2 {
    color: #5f6368;
    display: inline;
    border-bottom: 2px solid #5f6368;
    font-size: 21px;
    font-weight: bold;
    margin: 0;
  }
  h3 {
    color: #5f6368;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: initial;
    margin: 0;
  }
}
