:host > div {
  width: 340px;
  background: rgba(255, 255, 255, 1);
  height: calc(100vh - 35px);
  box-shadow: -4px 0 27px rgba(0, 0, 0, 0.3);
  h2 {
    padding: 25px;
    color: #555 !important;
  }
}

.notification-list {
  overflow-y: auto;
  .card {
    margin: 10px;
    border-left: 2px solid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    box-shadow: none;
    .card-content {
      padding: 0 1rem 0.5rem;
    }
  }
}

.card-header {
  display: block;
  box-shadow: none;
}

.card-content {
  padding: 0 1rem 1rem;
}
