//Breakpoints
$convert: 16px/1em;

$screen-sm: (768px / $convert);
$screen-md: (1040px / $convert);
$screen-lg: (1200px / $convert);
$screen-xl: (1360px / $convert);
$screen-xxl: (1920px / $convert);
$screen-xxxl: (2560px / $convert);
