nb-card {
  &.sidebar {
    padding: var(--card-padding);
    border-radius: 0;
    box-shadow: none;
    height: 100vh;

    nb-card-header {
      &.header {
        padding: 0;
        padding-left: 20px;
      }
      button {
        display: block;
        margin-left: auto;

        nb-icon {
          font-size: 32px !important;
          height: 32px !important;
          width: 32px !important;
        }
      }
    }

    nb-card-footer {
      .footer-notifications {
        color: var(--text-disabled-color);
      }
    }
  }
}
