.director {
  .fullheight {
    height: 100vh;
  }
  .rightcol {
    -webkit-box-shadow: -7px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -7px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -7px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  nb-card-body {
    padding: 0px;
    .leftcol,
    .rightcol {
      padding: 40px 50px;
    }
  }
}

.selector {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #d8d8d8;
}

.select-naked {
  button {
    border: none !important;
    background: transparent !important;
    padding: 0.5rem 0.5rem 0.5rem 0rem !important;
  }
}
.shadowed {
  background-color: transparent !important;
}
.rtl {
  @media (max-width: 991px) {
    padding-top: 2rem !important;
  }

  ul {
    @media (min-width: 991px) {
      justify-content: flex-end;
    }
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    li {
      margin-bottom: 0 !important;
      &.disabled {
        a.tab-link {
          color: #ccc !important;
        }
      }
      &.active {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: white;
        box-shadow: 0px 0px 10px #00000029;
      }
      a {
        padding: 0.3rem 0.2rem 0.3rem 0.2rem;
        margin: 0.4rem 2rem 0.5rem 2rem;
      }
    }
  }
  .content-active {
    padding: 0;
    box-shadow: 0px 0px 10px #00000029;
  }
}
